<footer class="light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                {{ page.footer_first }}
            </div>
            <div class="col-lg-4">
                {{ page.footer_second }}
            </div>
            <div class="col-lg-4">
                {{ page.footer_third }}
                <div class="icon-links icon-social icon-links-grid social-colors">
                    <a class="facebook"
                       href="https://www.facebook.com/GlampingSanMigue"
                       target="_blank"><i
                                class="fa-brands fa-square-facebook"></i></a>
                    <a class="twitter" href="https://twitter.com/Sanmigueglamp"
                       target="_blank"><i
                                class="fa-brands fa-square-x-twitter"></i></a>
                    <a class="instagram"
                       href="https://www.instagram.com/glampingsanmigue/"
                       target="_blank"><i
                                class="fa-brands fa-square-instagram"></i></a>
                    <a class="tiktok"
                       href="https://www.tiktok.com/@sanmigue.glamping"
                       target="_blank"><i
                                class="fa-brands fa-tiktok"></i></a>
                </div>
                <hr class="space-sm"/>
                <p>Siguenos en redes sociales.</p>
            </div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="container">
            <span>© 2024 San Migue glamping - camping y hospedaje campestre desarrollado por <a
                        href="https://jonurace.com" target="_blank">Jonatan Urrego</a>.</span>
            <span><a href="contacts.html">Contactenos</a> | <a href="#">Politicas de privacidad</a></span>
        </div>
    </div>
    <div id="whatsapp">
        <a href="https://api.whatsapp.com/send?phone=573237592722&text=Hola%20San%20migue%2C%20queremos%20reservar%20!!%F0%9F%8F%94%EF%B8%8F"
           target="_blank">
            <i class="fa-brands fa-square-whatsapp fa-shake fa-4x"></i>
        </a>
    </div>
</footer>