<nav class="menu-classic menu-fixed menu-transparent light align-right"
     data-menu-anima="fade-in">
    <div class="container">
        <div class="menu-brand">{{ page.header }}</div>
        <i class="menu-btn"></i>
        <div class="menu-cnt">
            {{ page.primary_menu }}
            <div class="menu-right">
                {{ page.secondary_menu }}
            </div>
        </div>
    </div>
</nav>